:root {
    --ion-toolbar-background: var(--ion-color-primary);
    --ion-tab-bar-background: var(--ion-color-primary);
    --ion-tab-bar-color-selected: var(--ion-color-secondary);
    --ion-tab-bar-color: var(--ion-color-primary-contrast);
    --ion-toolbar-color: var(--ion-color-secondary);
}

ion-segment {
    --background: var(--ion-coloor-secondary);
}

@font-face {
    font-family: 'LGSmHaB';
    src: url("../assets/fonts/LGSmHaB.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'LGSmHaL';
    src: url("../assets/fonts/LGSmHaL.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'LGSmHaR';
    src: url("../assets/fonts/LGSmHaR.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'LGSmHaSB';
    src: url("../assets/fonts/LGSmHaSB.ttf") format('truetype');
  
  }